/.vs
/缅甸商家/bin/Debug/net8.0/tmrlg
/缅甸商家/bin/Debug/net8.0/runtimes
/缅甸商家/bin/Debug/net8.0/Microsoft.Net.Http.Headers.dll
/缅甸商家/bin/Debug/net8.0/MiniGuid.dll
/缅甸商家/bin/Debug/net8.0/Newtonsoft.Json.dll
/缅甸商家/bin/Debug/net8.0/System.IO.Pipelines.dll
/缅甸商家/bin/Debug/net8.0/Telegram.Bot.dll
/缅甸商家/bin/Debug/net8.0/缅甸商家.dll
/缅甸商家/bin/Debug/net8.0/缅甸商家.exe
/缅甸商家/bin/Debug/net8.0/Microsoft.AspNetCore.WebUtilities.dll
/缅甸商家/bin/Debug/net8.0/Microsoft.Extensions.Primitives.dll
/缅甸商家/bin/Debug/net8.0/缅甸商家.pdb
