/.vs
/缅甸商家/bin/Debug/net8.0/tmrlg
/缅甸商家/bin/Debug/net8.0/runtimes
/缅甸商家/bin/Debug/net8.0/Microsoft.Net.Http.Headers.dll
/缅甸商家/bin/Debug/net8.0/MiniGuid.dll
/缅甸商家/bin/Debug/net8.0/Newtonsoft.Json.dll
/缅甸商家/bin/Debug/net8.0/System.IO.Pipelines.dll
/缅甸商家/bin/Debug/net8.0/Telegram.Bot.dll
/缅甸商家/bin/Debug/net8.0/缅甸商家.dll
/缅甸商家/bin/Debug/net8.0/缅甸商家.exe
/缅甸商家/bin/Debug/net8.0/Microsoft.AspNetCore.WebUtilities.dll
/缅甸商家/bin/Debug/net8.0/Microsoft.Extensions.Primitives.dll
/缅甸商家/bin/Debug/net8.0/缅甸商家.pdb
/缅甸商家/bin/Debug/net8.0/db.json
/缅甸商家/obj
/缅甸商家/bin/Debug/net8.0/ClosedXML.dll
/缅甸商家/bin/Debug/net8.0/DocumentFormat.OpenXml.dll
/缅甸商家/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.dll
/缅甸商家/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.Relational.dll
/缅甸商家/bin/Debug/net8.0/SixLabors.Fonts.dll
/mdsjprj/bin/Debug/net8.0/runtimes/linux-x64/native/libsqlite3.so
/mdsjprj/bin/Debug/net8.0/runtimes/win-x64/native/ClearScriptV8.win-x64.dll
/mdsjprj/bin/Debug/net8.0/runtimes/win-x86/native/ClearScriptV8.win-x86.dll
/mdsjprj/bin/Debug/net8.0/ClearScript.V8.ICUData.dll
/mdsjprj/bin/Debug/net8.0/BouncyCastle.Cryptography.dll
/mdsjprj/bin/Debug/net8.0/DocumentFormat.OpenXml.dll
/mdsjprj/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.dll
/mdsjprj/bin/Debug/net8.0/msgRcvDir
/mdsjprj/bin/Debug/net8.0/rows_rzt4srchDirdbg
/mdsjprj/bin/Debug/net8.0/tmrlg
/mdsjprj/bin/Debug/net8.0/runtimes
/mdsjprj/bin/Debug/net8.0/ChineseCharacterConvert.dll
/mdsjprj/bin/Debug/net8.0/SixLabors.Fonts.dll
/mdsjprj/bin/Debug/net8.0/ToolGood.Words.dll
/mdsjprj/bin/Debug/net8.0/Newtonsoft.Json.dll
/mdsjprj/bin/Debug/net8.0/ClearScript.Core.dll
/mdsjprj/bin/Debug/net8.0/Telegram.Bot.dll
/mdsjprj/bin/Debug/net8.0/System.Configuration.ConfigurationManager.dll
/mdsjprj/bin/Debug/net8.0/ToolGood.Words.FirstPinyin.dll
/mdsjprj/bin/Debug/net8.0/ClearScript.V8.dll
/mdsjprj/bin/Debug/net8.0/RG3.PF.Abstractions.dll
/mdsjprj/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.Sqlite.dll
/mdsjprj/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.Relational.dll
/mdsjprj/bin/Debug/net8.0/ToolGood.Words.Pinyin.dll
/mdsjprj/bin/Debug/net8.0/ClosedXML.dll
/mdsjprj/bin/Debug/net8.0/detailClickLogDir
/mdsjprj/bin/Debug/net8.0/errlog
/mdsjprj/bin/Debug/net8.0/errlogDir2024
/mdsjprj/bin/Debug/net8.0/httplogDir
/WindowsFormsApp1/sqltnode/tmp
/WindowsFormsApp1/bin/Debug/prmDir
/WindowsFormsApp1/bin/Debug/errlogDir2024
/node-v22.2.0-win-x64
fullTxtSrchIdxdataDir
/mdsjprj/bin/Debug/net8.0/fullTxtSrchIdxdataDir
/mdsjprj/bin/Debug/net8.0/detailClickDir
/mdsjprj/bin/Debug/net8.0/logDir
/mdsjprj/downmp3

/mdsjprj/bin/Debug/net8.0/detailClickLogDir
/mdsjprj/bin/Debug/net8.0/ffmpeg.exe
/mdsjprj/bin/Debug/net8.0/ffprobe.exe
/mdsjprj/bin/Debug/net8.0/adchkDir
/mdsjprj/bin/Debug/net8.0/EmlDir2
/MauiApp1/bin
/codelib2023/*.exe
